<div id="home-view" data-role="view" data-title="Home"
    data-init="app.views.home.init"
    data-before-show="app.views.home.beforeShow"
    data-show="app.views.home.show">

    <div class="view-content">
        <h1>Welcome!</h1>
        <p>
            Telerik AppBuilder&trade; enables you to build cross-platform device applications regardless of your
                development platform by combining the convenience of a local development toolset with the
                power and flexibility of the cloud.
        </p>
        <p>
            <a href="#test-view?a=blah" data-role="button" data-transition="slide">Test Page</a>
        </p>
    </div>
</div>